.item {
  display: flex;
  gap: 48px;
  border-radius: 24px;
  padding: 24px;
  width: 1184px;
  background: #fff;
  margin-bottom: 32px;
}

.iconContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.infoContainerItem {
  display: flex;
  align-items: center;
  gap: 192px;
}

.iconBook {
  stroke: #000;
  fill: none;
}

.iconStar {
  fill: #ffc531;
}

.iconHeart {
  fill: none;
  stroke: #000;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 3px solid #d2e6f7;
  padding: 12px;
}

.descriptionContainer {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: end;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #121417;
  margin-bottom: 32px;
  margin-top: 8px;
}

.additionalInfo {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.additionalInfoItem {
  color: #121417;
}

.levelContainer {
  margin-bottom: 32px;
}

.languageLevel {
  /* display: flex; */
  /* gap: 8px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #121417;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  width: 133px;
  height: 32px;
}

.languageLevel:not(:last-child) {
  margin-right: 8px;
}

.price {
  color: #38cd3e;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.button {
  border-radius: 12px;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  margin-bottom: 24px;
}

.readMoreBtn {
  background: none;
  margin-top: 16px;
  margin-bottom: 32px;
  fill: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
}

.readMoreBtn:active,
.readMoreBtn:hover {
  background: none;
}
