.container {
  border-radius: 30px;
  width: 568px;
  height: 530px;
  background: #bfd6ea;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  margin: 0 auto;
  bottom: -130px;
  left: 85px;
  z-index: 1;
}

.memoji {
  position: absolute;
  top: 70px;
  left: 105px;
}
