/* body {
  padding: 0 64px;
} */

.container {
  padding: 98px 64px;
  width: 720px;
  height: 530px;
  background: #f8f8f8;
  border-radius: 30px;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #121417;
  margin: 0;
}

.languageSpan {
  font-style: italic;
  background-color: #d1e2f0;
  font-weight: 400;
  border-radius: 22px;
  display: inline-block;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.02em;
  color: #121417;
  margin-top: 32px;
  margin-bottom: 64px;
  width: 471px;
}

.button {
  border-radius: 12px;
  padding: 16px 88px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  display: flex;
}
