.form {
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  border: none;
  margin-bottom: 8px;
}

.field {
  border-radius: 14px;
  padding-left: 14px;
  background: #fff;
  border: none;
  padding-right: 14px;
  min-width: 124px;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;
}

.field:focus,
.field:active,
.field:hover {
  outline: none;
  color: #121417;
}

.greyOption {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: rgba(18, 20, 23, 0.2);
}

/* .icon {
  fill: none;
  stroke: #121417;
  position: relative;
}

.icon:first-child {
  top: -37%;
  right: -80%;
} */
