.header {
  width: 1184px;
  display: flex;
  align-items: center;
  margin: 20px 128px;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 28px;
}

.authContainer {
  display: flex;
  align-items: center;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}

.icon {
  stroke: #9fb7ce;
  fill: none;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.buttonContainerItem {
  background: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  display: flex;
  align-items: center;
  gap: 8px;
  /* margin-right: 16px; */
}

.buttonContainerItem:hover,
.buttonContainerItem:focus {
  background-color: transparent;
  cursor: pointer;
}

.registrationButton {
  border-radius: 12px;
  padding: 14px 39px;
  background: #121417;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  border: none;
}

.registrationButton:hover,
.registrationButton:focus {
  background: #121417;
  cursor: pointer;
}
