.buttonContainer {
  display: flex;
  gap: 20px;
}

.icon {
  stroke: #9fb7ce;
  fill: none;
}

.buttonContainerItem {
  background: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: flex-end;
}

.buttonContainerItem:hover,
.buttonContainerItem:focus {
  background-color: transparent;
  cursor: pointer;
}
