.container {
  margin: 0 64px;
  align-items: center;
  /* justify-content: center; */
  /* display: flex; */
}

.list {
  gap: 24px;
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
}
